{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}パスワード変更{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/zSKvcMZezflGJYb.css' %}">{% endblock %}

{% block content %}
<div class="password_reset_from_key">
    <div class="title">{% if token_fail %}不正トークン{% else %}パスワード変更{% endif %}</div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="message">このパスワード変更用リンクは無効になっています。</div>
        <div class="register_button_div password_reset_register_button_div">
        <a class="register_button" href="{{ passwd_reset_url }}">再申請</a>
        </div>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" name="form1">
                {% csrf_token %}
                {% for field in form %}
                <div class="field">
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
                </div>
                {% endfor %}
                <div class="register_button_div password_reset_register_button_div">
                <a class="register_button" href="javascript:form1.submit()">変更</a>
                </div>
            </form>
        {% else %}
            <div class="message">パスワードは変更されています。</div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}