{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}パスワード変更{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/zSKvcMZezflGJYb.css' %}">{% endblock %}

{% block content %}
{% load i18n %}
{% load account %}
<div class="password_reset">
    <div class="title">パスワード変更</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="message">パスワード変更用メールを送信します。</div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" name="form1">
        {% csrf_token %}
        <div class="field">
        {{ form }}
        {{ form.errors }}
        </div>
        <div class="register_button_div password_reset_register_button_div">
        <a class="register_button" href="javascript:form1.submit()">送信</a>
        </div>
    </form>
</div>
{% endblock %}