{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}パスワード変更用メールを送信しました{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/zSKvcMZezflGJYb.css' %}">{% endblock %}

{% block content %}
<div class="password_reset_done">
    <div class="title">パスワード変更</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="message">パスワード変更用メールを送信しました。メールのurlからパスワードの変更を完了してください。</div>
</div>
{% endblock %}