/*ボタン*/
.request_approval_button {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    border: solid #000000 1px;
    color: #000000;
    text-align: center;
    margin-left: 20px;
    height: fit-content;
    margin-top: 10px;
}

.request_approval_button a {
    text-decoration: none;
    color: #000;
}

.request_approval_button:hover {
    background:#f4a460;
    border:solid #fff 1px;
}

.request_approval_button:hover a {
    color:#fff;
}

.request_approval_button:active {
    background:#d2691e;
}

.request_approval_button:active a {
    color:#fff;
}

.image_and_request_and_approval_and_merchandise {
    display: flex;
    padding: 20px;
}

.merchandise_information {
    margin-top: 14px;
    margin-left: 20px;
}

.value_span {
    font-weight: bold;
    color: red;
}