{% extends 'accounts_base.html' %}
{% load static %}
{% block title %}特定商取引法に基づく通知 | bors{% endblock %}

{% block head %}
    <meta name="description" content="特定商取引法に基づく通知">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/3GCyi30RSFxa7db.css' %}">
<link rel="stylesheet" href="{% static 'css/pA4UYRxSV11Vsy9.css' %}">
{% endblock %}
{% block content %}

<div class="container">
<div class="title">特定商取引法に基づく通知</div>
<ul>
    <span class="sub_title">サービス名</span>
    <li class="margin_bottom">bors（ボース）</li>
    <span class="sub_title">事業者名</span>
    <li class="margin_bottom">佐藤諒芽</li>
    <span class="sub_title">代表者</span>
    <li class="margin_bottom">佐藤諒芽</li>
    <span class="sub_title">住所</span>
    <li class="margin_bottom">
    <p>〒 980-0014</p>
    <p>宮城県仙台市青葉区本町一丁目5番28号カーニープレイス仙台駅前通603号室</p>
        <div class="margin"><div class="margin important">※記載の情報は契約店舗の住所です。ご請求時には販売者情報を遅滞なく開示いたします。</div></div>
    </li>
    <span class="sub_title">電話番号</span>
    <li class="margin_bottom">
    050-5532-8197
    <div class="margin important">※お問い合わせはお電話では受け付けておりません。bors.staff@gmail.com宛てにご連絡、もしくはお問い合わせフォームからお願い致します。</div>
    </li>
    <span class="sub_title">お問い合わせ口</span>
    <li class="margin_bottom">bors.staff@gmail.com</li>
    <span class="sub_title">販売価格</span>
    <li class="margin_bottom">
        購入手続の際に画面に表示されます。
    </li>
    <span class="sub_title">商品代金以外に必要な費用</span>
    <li class="margin_bottom">配送が必要ない場合は無し。配送が必要な場合は別途配送料金が必要な場合があります。</li>
    <span class="sub_title">お支払方法</span>
    <li class="margin_bottom">出品者、購入者間で決定してください。</li>
    <span class="sub_title">代金のお支払時期</span>
    <li class="margin_bottom">購入時</li>
    <span class="sub_title">商品の引き渡し時期</span>
    <li class="margin_bottom">出品者、購入者間で決定してください。</li>
    <span class="sub_title">返金・返品・交換について</span>
    <li class="margin_bottom">お客様都合による返金・返品・交換は受け付けておりません。</li>

</ul>
</div>

{% endblock %}