{% extends 'base.html' %}

{% load static %}

{% block title %}トークリスト | bors{% endblock %}

{% block head %}
    <meta name="robots" content="noindex,nofollow,noarchive" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/kenABfqNsOCT2B8.css' %}">
<link rel="stylesheet" href="{% static 'css/pA4UYRxSV11Vsy9.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="page_title"><div>トークリスト</div></div>

    {% for talk in talks %}

        <div class="content">

            <a href="{% url 'neighbor_app:refund_procedure' talk.pk %}">{{ talk }}</a>

        </div>

    {% endfor %}

</div>


{% endblock %}