<div class="terms_of_service_container">

<div class="terms_of_service_content">
<div class="margintop_2">
    この利用規約（以下、「本規約」といいます。）は、bors運営事務局（以下、「当事務局」といいます。）が提供するインターネットサイト
    「bors」(https://bors.jpにより表示されるサイトを指します。)において当事務局が提供するサービス（以下、「本サービス」といいます。）
    を利用する個人と当事務局との権利義務関係を定めるものです。登録ユーザーの皆さまには、
    本サービスの利用に際して、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。
</div>

<h2>第1条（適用）</h2>
<ol>
    <li>
        本規約は、本サービスの提供条件および本サービスの利用に関する当事務局と登録ユーザーとの間の権利義務関係を定めることを目的とし、
        登録ユーザーと当事務局との間の本サービスの利用にかかわる一切の関係に適用されます。
    </li>
    <li>
        本サービスを利用する個人及び法人は、本サービスの利用により、本規約が適用されることについて予め同意し利用しているものとみなします。
    </li>
    <li>
        当事務局が当事務局ウェブサイト上で掲載する<a href="{% url 'neighbor_app:about_service' %}">本サービスについて</a>は、本規約の一部を構成するものとし、登録ユーザーは予めこれに同意するものとします。
    </li>
    <li>
        本規約の内容と、前項の<a href="{% url 'neighbor_app:about_service' %}">本サービスについて</a>その他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。
    </li>
</ol>

<h2>第2条（定義）</h2>
    本規約において各用語の定義は以下に定めるものとします。
<ol>
    <li>
        「サービス利用契約」とは、本規約を契約条件として当事務局と登録ユーザーの間で締結される、本サービスの利用契約を意味します。
    </li>
    <li>
        「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、
        またはそれらの権利につき登録等を出願する権利を含みます。）を意味します。
    </li>
    <li>
        「投稿」とは、登録ユーザーが文章、文字列、画像、コメント等を掲載する行為を意味します。
    </li>
    <li>
        「投稿データ」とは、登録ユーザーが本サービスを利用して投稿、
        その他送信するコンテンツ（文章、画像、動画その他のデータを含みますがこれらに限りません。）を意味します。
    </li>
    <li>
        「当事務局」とは、bors運営事務局を意味します。
    </li>
    <li>
        「当事務局ウェブサイト」とは、そのドメインが「bors.jp」である、当事務局が運営するウェブサイト
        （理由の如何を問わず、当事務局のウェブサイトのドメインまたは内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。
    </li>
    <li>
        「登録ユーザー」とは、第4条（利用登録）に基づいて本サービスの利用者としての登録がなされた個人または法人を指します。
    </li>
    <li>
        「本サービス」とは、当事務局が提供する「bors」という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、
        当該変更後のサービスを含みます。）を意味します。
    </li>
    <li>
        「出品」とは、登録ユーザーが、本サービスを通じて販売する商品の詳細情報等を利用者が閲覧可能かつ商品を取引できる状態にすることを意味します。
    </li>
    <li>
        「購入」とは、本サイト内で当事務局または他の登録ユーザーが出品する商品を登録ユーザーが購入することを意味します。
    </li>
    <li>
        「出品者」とは、本サービスを通じて商品を出品する登録ユーザーを意味します。
    </li>
    <li>
        「購入者」とは、本サービスにて商品を購入する利用者を意味します。
    </li>
    <li>
        「商品代金」とは、本サービスにおいて商品が購入された場合の、出品者と購入者との間の売買契約における当該商品の売買価格を意味します。
    </li>
    <li>
        「購入処理」とは、本サービスにおいて、購入者が、商品詳細ページに設置された「購入する」と表記されたボタンを押下する行為を意味します。
    </li>

</ol>


<h2>第3条（当事務局の役割・立場）</h2>
<ol>
    <li>
        本サービスは、ユーザー間における商品・サービスの売買その他の取引（以下「個別取引」といいます。）のための場・機会を提供するものです。よって、当事務局は、個別取引の当事者にはならず、別途特に定めた場合を除き、返品・返金や補償などの個別取引に
        関しては一切関与しません。
    </li>
    <li>
        ユーザーは、個別取引における一切の義務を自己の費用・責任において遂行するものとします。
    </li>
</ol>


<h2>第4条（利用登録）</h2>
<ol>
    <li>
        本サービスの利用を希望する者（以下「登録希望者」といいます。）は、本規約を遵守することに同意し、
        かつ当事務局の定める一定の情報（以下「登録事項」といいます。）を当事務局の定める方法で当事務局に提供することにより、
        当事務局に対し、本サービスの利用の登録を申請することができます。
    </li>
    <li>
        当事務局は、当事務局の基準に従って、第１項に基づいて登録申請を行った登録希望者（以下「登録申請者」といいます。）の登録の可否を判断し、
        当事務局が登録を認める場合にはその旨を登録申請者に通知します。登録申請者の登録ユーザーとしての登録は、
        当事務局が本項の通知を行ったことをもって完了したものとします。
    </li>
    <li>
        ユーザーが未成年者である場合は、事前に親権者など法定代理人の包括的な同意を得たうえで本サービスを利用しなければなりません。
        ユーザーが未成年者である場合は、親権者の同意の有無に関して、当事務局から親権者に対し、確認の連絡をする場合があります。
    </li>
    <li>
        前項に定める登録の完了時に、サービス利用契約が登録ユーザーと当事務局の間に成立し、
        登録ユーザーは本サービスを本規約に従い利用することができるようになります。
    </li>
    <li>
        当事務局は、登録申請者が、以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、
        またその理由について一切開示義務を負いません。
        <ol>
            <li>
                当事務局に提供した登録事項の全部または一部につき虚偽、誤記または記載漏れがあった場合
            </li>
            <li>
                18歳未満である場合
            </li>
            <li>
                未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合
            </li>
            <li>
                反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、
                または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしく
                は関与する等反社会的勢力等との何らかの交流もしくは関与を行っていると当事務局が判断した場合
            </li>
            <li>
                過去当事務局との契約に違反した者またはその関係者であると当事務局が判断した場合
            </li>
            <li>
                第9条に定める措置を受けたことがある場合
            </li>
            <li>
                本サービスを利用した取引に関して法令上要求される許認可又は査証もしくは在留資格を得ていない場合
            </li>
            <li>
                本サービスに登録されているアカウントが既に存在する場合
            </li>
            <li>
                事業者である場合
            </li>
            <li>
                その他、登録を適当でないと当事務局が判断した場合
            </li>
        </ol>
    </li>
</ol>

<h2>第5条（パスワード管理）</h2>
<ol>
    <li>
        登録ユーザーは、自己の責任において、本サービスに関するパスワードを適切に管理及び保管するものとし、
        これを第三者に利用させ、または貸与、共用、譲渡、名義変更、売買等をしてはならないものとします。
    </li>
    <li>
        パスワードの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとします。
    </li>
</ol>

<h2>第6条（登録事項の変更）</h2>
<div class="margintop margin_bottom">
    登録ユーザーは、登録事項に変更があった場合、本サービスの<a href="{% url 'neighbor_app:account' %}">アカウントページ</a>及び出品された商品ページ
    による編集により当該変更事項を遅滞なく当事務局に通知するものとします。
</div>

<h2>第7条（利用料金および支払い方法）</h2>
<div class="margintop margin_bottom">
        登録ユーザーは、本サービス利用の対価として、別途当事務局が定め、当事務局ウェブサイトに表示する利用料金を
        当事務局が指定する支払方法により当事務局に支払うものとします。
</div>

<h2>第8条（禁止事項）</h2>
    登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると当事務局が判断する行為をしてはなりません。
<ol>
    <li>
        法令に違反する行為または犯罪行為に関連する行為
    </li>
    <li>
        当事務局、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為
    </li>
    <li>
        公序良俗に反する行為
    </li>
    <li>
        当事務局、本サービスの内容等、本サービスに含まれる著作権、商標権ほか知的財産権を侵害する行為
    </li>
    <li>
        当事務局、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為
    </li>
    <li>
        本サービスを通じ、以下に該当し、または該当すると当事務局が判断する情報を当事務局または本サービスの他の利用者に送信すること<br>
        ・過度に暴力的または残虐な表現を含む情報<br>
        ・コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報<br>
        ・当事務局、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報<br>
        ・過度にわいせつな表現を含む情報<br>
        ・差別を助長する表現を含む情報<br>
        ・自殺、自傷行為を助長する表現を含む情報<br>
        ・薬物の不適切な利用を助長する表現を含む情報<br>
        ・反社会的な表現を含む情報<br>
        ・チェーンメール等の第三者への情報の拡散を求める情報<br>
        ・他人に不快感を与える表現を含む情報
    </li>
    <li>
        当事務局、ほかの登録ユーザー、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為
    </li>
    <li>
        本サービスのネットワークまたはシステム等に過度な負荷をかける行為
    </li>
    <li>
        当事務局が提供するソフトウェアその他のシステムに対するリバースエンジニアリングその他の解析行為
    </li>
    <li>
        本サービスによって得られた情報を商業的に利用する行為
    </li>
    <li>
        本サービスの運営を妨害するおそれのある行為
    </li>
    <li>
        当事務局のネットワークまたはシステム等への不正アクセス、またはこれを試みる行為
    </li>
    <li>
        他の登録ユーザーまたは第三者に成りすます行為
    </li>
    <li>
        本サービスの他の利用者の電子メールアドレスまたはパスワードを利用する行為
    </li>
    <li>
        不正な目的を持って本サービスを利用する行為
    </li>
    <li>
        本サービスの他の利用者の情報を利用者の許諾なしに収集する行為
    </li>
    <li>
        当事務局、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為
    </li>
    <li>
        反社会的勢力等への利益供与
    </li>
    <li>
        本サービスを利用した取引に関して法令上要求される査証又は在留資格を取得することなく取引を行う行為
    </li>
    <li>
        本サービスを介さず、ユーザー間で直接取引を行う行為
    </li>
    <li>
        本サービスの成約手数料を免れようとする行為
    </li>
    <li>
        当事務局が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為
    </li>
    <li>
        面識のない異性との出会いを目的とした行為
    </li>
    <li>
        登録ユーザーが複数のアカウントを所有し、同時期に複数のアカウントを使用する行為
    </li>
    <li>
        当事務局のサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為
    </li>
    <li>
        前各号の行為を直接または間接に惹起し、または容易にする行為
    </li>
    <li>
        前各号の行為を試みること
    </li>
    <li>
        その他、当事務局が不適切と判断する行為
    </li>
</ol>

<h2>第9条（利用制限、登録抹消、利用契約解除）</h2>
<ol>
    <li>
        当事務局は、ユーザーが以下のいずれかに該当するまたは当事務局が該当すると判断した場合には，事前の通知または催告することなく、
        登録ユーザーに対して、本サービスの全部もしくは一部の利用を停止し、
        またはユーザーとしての登録を抹消もしくはサービス利用契約を解除することができるものとします。
        <ol>
            <li>
                本規約のいずれかの条項に違反した場合
            </li>
            <li>
                登録事項に虚偽の事実があることが判明した場合
            </li>
            <li>
                料金等の支払債務の不履行があった場合
            </li>
            <li>
                支払停止もしくは支払不能となり、または破産手続開始、民事再生手続開始、会社更生手続開始、特別清算開始若しくはこれらに類する手続の開始の申立てがあった場合
            </li>
            <li>
                当事務局からの問い合わせ、その他の回答を求める連絡に対し、5日間応答がない場合
            </li>
            <li>
                本サービスについて、最終の利用から6か月以上利用がない場合
            </li>
            <li>
                第4条第5項各号に該当する場合
            </li>
            <li>
                その他、当事務局が本サービスの利用または登録ユーザーとしての登録の継続を適当でないと判断した場合
            </li>
            <li>
                前項各号のいずれかの事由に該当した場合、登録ユーザーは、当事務局に対して負っている債務の一切について当然に期限の利益を失い、直ちに当事務局に対して全ての債務の支払を行わなければなりません。
            </li>
        </ol>
    </li>
    <li>
        当事務局は，本条に基づき当事務局が行った行為により登録ユーザーに生じた損害または損失について、一切の責任を負いません。
    </li>
</ol>

<h2>第10条（本サービスの停止または中断）</h2>
<ol>
    <li>
        当事務局は、以下のいずれかの事由があると判断した場合、
        ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
        <ol>
            <li>
                本サービスにかかるコンピュータシステム・ソフトウェアの保守点検または更新を行う必要があると判断した場合
            </li>
            <li>
                コンピューター、通信回線等の障害、誤操作、過度なアクセスの集中、不正アクセス、ハッキング等により本サービスの運営ができなくなった場合
            </li>
            <li>
                地震、落雷、火災、停電、 天災、 戦争、 暴動、 その他合理的支配の及ばない不可抗力により、本サービスの運営が困難となった場合
            </li>
            <li>
                その他、当事務局が本サービスの運営が困難と判断した場合
            </li>
            <li>
                その他、当事務局が停止または中断を必要とした場合
            </li>
        </ol>
    </li>
</ol>
<h2>第11条（投稿の閲覧および削除または非表示）</h2>
<ol>
    <li>
        当事務局は、ユーザーによる本規約の遵守状況を確認するため、本サイト等を経由して行われる投稿（コメントを含む）を閲覧する場合があります。
        本サイト等を利用するユーザーは予めご了承頂きます。
    </li>
    <li>
        当事務局は、ユーザーによる本サイト等への投稿が第8条の禁止事項に該当する場合又は本規約に違反する場合もしくは
        当事務局が合理的に不適切と判断する場合には、ユーザーに通知することなく当事務局の裁量において当該投稿等について削除又は非表示の処理を行うことができるものとします。
    </li>
</ol>

<h2>第12条（権利帰属）</h2>
<ol>
    <li>
        当事務局ウェブサイト及び本サービスに関する知的財産権は全て当事務局または当事務局にライセンスを許諾している者に帰属しており、
        本規約に基づく本サービスの利用許諾は、当事務局ウェブサイトまたは本サービスに関する当事務局または当事務局にライセンスを許諾している者の
        知的財産権の使用許諾を意味するものではありません。
    </li>
    <li>
        登録ユーザーは本サービスにおいて掲載する投稿（情報、コメント等）について、
        自らが投稿その他送信することについての適法な権利を有していること、及び掲載する情報が第三者の権利を侵害していないことを当事務局に対して表明し、
        保証するものとします。
    </li>
    <li>
        登録ユーザーは、投稿データについて、当事務局に対し、世界的、非独占的、無償、サブライセンス可能かつ譲渡可能な使用、複製、配布、
        派生著作物の作成、表示及び実行に関するライセンスを付与します。
        また、他の登録ユーザーに対しても、本サービスを利用して登録ユーザーが投稿その他送信した投稿データの使用、複製、配布、派生著作物を作成、
        表示及び実行することについての非独占的なライセンスを付与します。ただし、本サイト等を経由した出品者及び購入者の交換メッセージは
        この限りではないものとします。
    </li>
    <li>
        登録ユーザーは、本サービスに掲載する情報を当事務局が広告目的で他社メディアへの掲載のために利用
        （複製、配布、派生著作物の作成等を含むがこれに限らないものとします。）することを許諾するものとします。ただし、
        本サイト等を経由した登録ユーザーの交換メッセージはこの限りではないものとします。
    </li>
    <li>
        登録ユーザーは、当事務局及び当事務局から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意するものとします。
    </li>
</ol>
<h2>第13条（退会）</h2>
<ol>
    <li>
        ユーザーは，<a href="{% url 'neighbor_app:account' %}">アカウントページ</a>の退会手続により，本サービスから退会できるものとします。
    </li>
    <li>
        退会時の債務が残存する場合、ユーザーは残存する債務の一切について期限の利益を失い、直ちに当事務局に対して全ての債務の支払を行わなければなりません。
    </li>
    <li>
        退会時の利用者情報の取り扱いについては、第14条の規定に従うものとします。
    </li>
</ol>

<h2>第14条（登録情報・掲載情報の保持）</h2>
<div class="margintop margin_bottom">
    サービス利用契約が理由の如何を問わず終了した場合、当事務局はユーザーの登録情報及び本サービスに掲載した情報を一定期間保持する場合があります。
    また、ユーザーは、本サービスに掲載された情報が本サービス以外の外部メディアでの広告等で掲載された場合、当該情報は削除されない場合があることを
    予め承諾するものとします。
</div>

<h2>第15条（保証の否認、免責事項）</h2>
<ol>
    <li>
        当事務局は、本サービスの提供に関して、以下各号に規定する場合をはじめ、いかなる場合でも、
        ユーザーが被った一切の損害について賠償する責任を負わないものとします。
        <ol>
            <li>
                インターネット接続サービスの不具合等接続環境に障害が生じたこと、又はそのおそれが生じたこと
            </li>
            <li>
                電気通信事業者等の提供する電気通信サービスに不具合が生じたこと、又はそのおそれが生じたこと
            </li>
            <li>
                上記各号のほか、自らの合理的な支配の及ばない状況（火事、停電、ハッキング、コンピューターウイルスの侵入、地震、洪水、戦争、通商停止、ストライキ、暴動、物資及び輸送施設の確保不能、本サーバの設置場所における第三者による本サーバへの加害事故の発生、又は政府当局による介入を含みますがこれに限りません。）により本サービス提供の履行が遅滞、中断、中止が生じたこと、又はそのおそれが生じたこと
            </li>
        </ol>
    </li>
    <li>
        当事務局は、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。
    </li>
    <li>
        当事務局は、本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当事務局とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、この免責規定は適用されません。
    </li>
    <li>
        前項ただし書に定める場合であっても、当事務局は、当事務局の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当事務局またはユーザーが損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また，当事務局の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。
    </li>
    <li>
        サービスの運営にあたって出品者と購入者の間でトラブルが発生した際は、本サービスの円滑な運営のために必要であると当事務局が判断した場合には、トラブルの解決に向けて適切な措置を取るものとします。
    </li>
    <li>
        当事務局は、個別取引において売買される商品の内容、品質、適法性、安全性、有用性などについては、一切保証いたしません。そのため、商品に瑕疵・不具合などがあった場合でも、当事務局は一切の責任を負わないものとします。
    </li>
    <li>
        当事務局は、個別取引に関する商品の引渡しまたは代金の支払い可能性に関し、一切保証いたしません。そのため、個別取引において、商品の引渡しがないまたは代金の支払いがない場合であっても、当事務局は一切の責任を負わないものとします。
    </li>
    <li>
        当事務局は、ユーザーが提供する情報又は助言が真実性、最新性、確実性、有用性等を有すること、利用者による本サービスの利用が利用者に適用のある法令又は業界団体の内部規則等に適合すること、および不具合が生じないことについて、何ら保証するものではありません。
    </li>
    <li>
        当事務局は、当事務局による本サービスの提供の中断、停止、終了、利用不能、又は変更、ユーザーの通知の削除又は消失、本サービスの利用によるデータの消失又は機器の故障もしくは損傷、その他本サービスに関してユーザーが被った損害につき、賠償する責任を一切負わないものとします。
    </li>
    <li>
        第4条3項以下の項の事由に該当する者が本サービスに登録した場合、その者の本サービスに起因して生じたあらゆる損害について一切の責任を負いません。
    </li>
</ol>

<h2>第16条（秘密保持）</h2>
<div class="margintop margin_bottom">
    ユーザーは、本サービスに関連して当事務局が秘密に取り扱うことを求めて開示した非公知の情報について、
    当事務局の書面の承諾がある場合を除き、秘密に取り扱うものとします。
</div>

<h2>第17条（個人情報保護）</h2>
<ol>
    <li>
        当事務局によるユーザーの個人情報（「個人情報」とは生存する個人の情報であり、特定の個人を識別することができる情報又は、他の情報と容易に照合することにより特定の個人を識別することができる情報をいいます。）
        の取扱いについては、次項以下で定める場合を除き別途当事務局が定める
        <a href="{% url 'neighbor_app:privacy_policy' %}">プライバシーポリシー</a>の定めによるものとします。登録ユーザーは当該プライバシーポリシーに従った取り扱いについて同意するものとします。
    </li>
    <li>
        当事務局は、ユーザーから提供された情報を、本サービスの利用、本サービスの利用に伴う当事務局からの通知に利用するものとします。
    </li>
    <li>
        当事務局は、ユーザーの提供した情報について、個人を特定できない形で統計的な情報として加工し、当事務局の裁量において利用及び公開できるものとし、登録ユーザーはこれに異議を唱えないものとします。
    </li>
</ol>

<h2>第18条（サービス内容の変更、終了等）</h2>
<ol>
    <li>
        当事務局は，当事務局の都合により、本サービスの内容を変更しまたは本サービスの提供を終了することができるものとし，当事務局はユーザーに対し、2週間前までに通知するものとします。
    </li>
    <li>
        当事務局は本条に基づき当事務局が行った措置によりユーザーに生じた損害について一切の責任を負いません。
    </li>
</ol>

<h2>第19条（利用規約の変更）</h2>
<div class="margintop">
    当事務局は、本規約を変更できるものとします｡当事務局は、本規約を変更した場合には、
    変更後の本規約を本サイト等に表示し、当該表示後5日間の経過をもってその効力が生じるものとします。
    なお、登録ユーザーは当該期間経過後の本サービスの利用により当該変更に同意したものとみなされます。
</div>

<h2>第20条（通知または連絡）</h2>
<ol>
    <li>
        ユーザーと当事務局との間の通知または連絡および本規約の変更に関する通知は、本サイト等に掲示する方法、電子メールまたはその他当事務局の定める方法によって行うものとし、ユーザーはこれに承諾したものとみなします。
    </li>
    <li>
        当事務局は、ユーザーから、当事務局が別途定める方式に従った変更届け出がない限り、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは、発信時にユーザーへ到達したものとみなします。
    </li>
</ol>

<h2>第21条（権利義務の譲渡）</h2>
<ol>
    <li>
        ユーザーは、当事務局の書面による事前の承諾なく、利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し、または担保に供することはできません。
    </li>
    <li>
        当事務局は本サービスにかかる事業を他社に譲渡、会社分割により譲渡（以下、「事業譲渡等」といいます。）を行った場合には、サービス利用契約上の地位、
        本規約に基づく権利及び義務並びにユーザーの情報その他の顧客情報を事業譲渡等に伴い他社に譲渡することができるものとします。ユーザーはかかる譲渡につき予め同意するものとします。
    </li>
</ol>

<h2>第22条（分離可能性）</h2>
<div class="margintop margin_bottom">
    本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、
    当該無効又は執行不能と判断された条項を除く残りの条項は、継続して完全に効力を有するものとします。
</div>

<h2>第23条（準拠法および管轄裁判所）</h2>
<ol>
    <li>
        本規約の解釈にあたっては、日本法を準拠法とします。
    </li>
    <li>
        本サービスに関して紛争が生じた場合には、当事務局の本店所在地を管轄する裁判所を専属的合意管轄とします。
    </li>
</ol>

<h2>第24条（当事務局への連絡方法）</h2>
<div class="margintop margin_bottom">
    本サービスに関する利用者の当事務局へのご連絡・お問い合わせは、本サービスまたは当事務局ウェブサイト内の適宜の場所に設置するお問い合わせフォームから
    の送信または当事務局が別途指定する方法により行うものとします。
</div>


<h2>第25条（言語）</h2>
<div class="margintop margin_bottom">
    本規約は、日本語を正文とします。本規約につき、英語による翻訳文が作成された場合でも、日本語の正文のみが契約としての効力を有するものとし、英訳はいかなる効力も有しないものとします。
</div>


<h2>第26条（出品者の遵守事項）</h2>
<ol>
    <li>
        出品者は、当事務局が定める手続きにより、商品の出品を行うものとし、出品する商品等およびその出品方法等にかかる関係法令および監督官庁のガイドラインを順守しなければなりません。
    </li>
    <li>
        登録ユーザーは、商品を出品する際に、真に売却する意思のない出品、その商品情報だけでは正しく商品を理解できない又は混乱する可能性のある出品、商品説明で十分な説明を行わない出品等を行ってはなりません。また、出品者は、出品する商品と関係のない画像等を当該出品情報として掲載してはいけません。
    </li>
    <li>
        登録ユーザーは、他の特定の登録ユーザーのみを対象とする販売を意図して商品を出品することができません。当事務局は、その裁量により、出品の条件その他の状況から、ある商品の出品が他の特定のユーザーのみを対象とする販売を意図するものであるか否かを判断することができるものとします
    </li>
    <li>
        出品者は、次の各号に該当する商品は出品することができず、下記各号に該当する商品を出品した場合、出品者の故意・過失の有無にかかわらず、本規約違反行為とみなします。
    </li>
        <ol>
            <li>覚せい剤、麻薬、向精神薬、大麻、あへん、毒物、劇物等の禁制品</li>
            <li>大麻種子、合法ハーブ(脱法ハーブ)、合法ドラッグ（脱法ドラッグ）に関連する商品等</li>
            <li>銃砲、刀剣類、武器、火薬類、化学兵器等</li>
            <li>アダルトビデオ、DVD、ヌード写真、アダルトグッズ、ゲーム等、18歳未満の青少年への販売を制限する情報やその他性風俗、アダルトに関する商品全般</li>
            <li>わいせつ物、児童ポルノに関連する商品等</li>
            <li>使用済み下着、制服等</li>
            <li>売春、児童売春</li>
            <li>賭博、富くじに関連する商品等</li>
            <li>無限連鎖講、マルチ商法に関連する商品等</li>
            <li>たばこ（ニコチンを含まない電子タバコの販売も不可）</li>
            <li>現金</li>
            <li>銀行口座等</li>
            <li>商品券、プリペイドカード、印紙、切手、回数券、その他の有価証券等の金券類</li>
            <li>偽ブランド品、模造品・海賊版（違法コピー商品等）</li>
            <li>マジコン、パンドラバッテリー等の違法コピーを助長させる機器または関連商品</li>
            <li>窃盗、強盗、詐欺、恐喝、横領、背任その他犯罪により入手した商品</li>
            <li>スタンガン、催涙スプレー、法令により携行を禁止された刃物、盗聴器</li>
            <li>超小型カメラ、赤外線カメラ等のうち、犯罪に使用される恐れがあると当事務局が判断した商品</li>
            <li>特許権、実用新案権、意匠権、商標権、著作権、肖像権等第三者の知的財産権を侵害する商品等</li>
            <li>コンピュータウィルスを含むソフトウェア、コピープロテクトを権限なく解除したデジタルコンテンツ、又はコピープロテクトを回避する等の方法を教示するようなもの</li>
            <li>ゲーム等におけるキャラクター、アイテム、ゲーム内仮想通貨等のデータ等（いわゆるリアルマネートレーディング）、オンラインゲーム等のアカウント</li>
            <li>ビットコイン（Bitcoin)、モナコイン（Monacoin）、リップル（Ripple）等の暗号通貨</li>
            <li>身体機能検査キット、医療機器（医療用具）、医薬品、また国内で販売が禁止されている医薬品</li>
            <li>人体及び人体の一部</li>
            <li>動物の生体及び生体の一部、生物（ただし、魚類、昆虫のうち、適法に販売することができるものに関しては販売を認めます。）</li>
            <li>個人情報、営業秘密その他一般に公開されていない情報</li>
            <li>販売に際して法律で義務付けられている許認可、免許、資格等の条件を満たしていない商品</li>
            <li>公序良俗に違反する商品</li>
            <li>その他取引することが法令（特定商取引に関する法律、銃砲刀剣類所持等取締法、麻薬及び向精神薬取締法、ワシントン条約、その他関連条約等あらゆる法令を含む）に違反する商品</li>
            <li>その他、当事務局が適切ではないと判断した商品</li>
        </ol>
    <li>
        出品に関し当事務局が本規約に違反すると判断した場合又は不適切と判断した場合、当事務局は、第8条（禁止事項）に定める措置のほか、
        その出品やその出品に対して発生していた購入行為を当事務局の判断で取り消すことができるものとします。本項に基づく措置によって出品者に生じる損害について、
        当事務局は一切責任を負わないものとします。
    </li>
</ol>

<h2>第27条（購入者の遵守事項）</h2>
<ol>

    <li>
        購入者は、当事務局の定める手続きにより購入の意思を持って、注文を行うものとし、購入する商品等およびその購入方法等にかかる関係法令および監督官庁のガイドラインを順守しなければなりません。
    </li>
    <li>
        購入者は、下記各号に該当する行為をした場合、購入者の故意・過失の有無にかかわらず、本規約違反行為とみなします。
    </li>
        <ol>
            <li>
                購入する意思のない注文行為
            </li>
            <li>
                偽ブランド品、海賊品などの法令に違反する商品の購入行為
            </li>
            <li>
                転売等の営利を目的とした商品の購入行為
            </li>
            <li>
                いたずら、嫌がらせその他不当な目的での注文行為
            </li>
            <li>
                自らの出品物を購入する行為
            </li>
            <li>
                取引を遅延させる行為
            </li>
            <li>
                その他当事務局が不適切と判断した行為
            </li>
            <li>
                商品詳細ページの質問機能において、商品を購入処理を行わずに取引を完了させようとする行為
            </li>
        </ol>
    <li>
        当事務局が定める取引開始可能な時間内に、当事務局の管理するサーバーに商品代金に関するデータ、販売意思のアクションデータなどの当事務局所定のデータの到達が確認できなかった場合、注文は無効になるものとし、ユーザーは予めこれを承諾するものとします。
    </li>
    <li>
        出品者は、自らの出品物を購入することはできません。出品を取り下げたい場合は、ユーザーは、当事務局所定の手続に従って行うものとします。
    </li>
    <li>
        会員の注文または購入等によって、出品者や第三者に生じる損害につき、当事務局は一切責任を負わないものとします
    </li>
</ol>

<h2>第28条（支払及び取引の実行）</h2>
<ol>
    <li>
        購入者が出品された特定の商品の購入完了手続をした時をもって当該商品の売買契約が成立するものとします。出品者及び購入者は、売買契約に基づき発生した権利義務を第三者に譲渡、担保提供その他の処分することはできないものとします。
    </li>
    <li>
        売買契約が成立した場合、購入者は、当事務局の定める方法により商品代金と利用料の合計額を支払うものとします。商品の送料が必要な場合で、出品者が負担する場合には、商品代金に含むものとし、購入者が負担する場合には、商品の発送を着払いで行うものとします。
    </li>
    <li>
        商品の受け渡しや発送は、購入者の商品代金の決済が完了した後に行われるものとします。
    </li>
    <li>
        出品者及び購入者の間で商品等に関してトラブルが発生した場合は当該ユーザー間で解決するものとします。但し、当事務局の判断により、当事務局も協議に入ることができるものとします。
    </li>
    <li>
        本サービスの利用にあたり、出品者及び購入者間の合意がある場合を除き、商品の注文後のキャンセルはできないものとします。 商品に瑕疵がある場合、
        商品説明と実際の商品が明らかに異なる場合、梱包の不備により配送時に商品が破損したなどの場合は出品者が責任を負うものとし、出品者の責任及び費用により、
        返金、商品の返品、修理、交換等の対応を行うものとします。
    </li>
</ol>


<h2>第29条（当事務局による商品の出品・販売等）</h2>
<ol>
    <li>
        当事務局は、本サービスにおいて、商品の出品又は販売を行う場合があります。なお、その場合も、本サービスがユーザー間の物品の売買の場・機会を提供するオンラインフリーマーケットサービスであるとの性質には何ら影響を及ぼしません。
    </li>
    <li>
        当事務局が出品した商品を購入者が購入した場合であっても、システムトラブル、欠品、配送事故その他の事情により、商品を納品できない場合があります。
        その場合、当事務局は、当事務局の裁量により、当該商品にかかる購入者との売買契約を解除することができるものとし、購入者への返金その他の当事務局が適切と認める措置をとるものとします。
    </li>
    <li>
        当事務局が出品した商品を購入した購入者は、商品に瑕疵がある場合又は品違いの場合その他当事務局の故意又は過失に起因する場合を除き、売買のキャンセル及び商品の返品を行うことはできないものとします。
    </li>
    <li>
        当事務局が出品した商品を購入した購入者は、商品に瑕疵がある場合又は品違いの場合は、当事務局所定の方法により当事務局に連絡するものとします。この場合には、購入者は、商品の返送等につき当事務局の指示に従うものとし、当事務局は、返金、商品交換その他の当事務局が適切と認める措置をとることができるものとします。
    </li>
    <li>
        購入者は、当事務局が出品した商品を購入した場合、本規約に従い、商品代金の支払いその他の購入者が行うべきとされている行為を行うものとします。
    </li>
</ol>


<p class="tR">以上</p>

    <div class="privacy_policy_date">

    </div>

    <h2>お問い合わせ窓口</h2>
    <div class="margintop">
    <p>bors運営事務局</p>
    <p>Emailアドレス : <a href="mailto:bors.staff@gmail.com">bors.staff@gmail.com</a></p>

    <p class="mergin-top">お問い合わせは<a href="{% url 'neighbor_app:inquiry' %}">こちらから</a></p>
    </div>


</div>
</div>
